//////////////////////////////////////////////////
///////////////////// Adaptive ///////////////////
//////////////////////////////////////////////////

////////////////////// breackpoints
$mobile-width: "(max-width: 699px)";
$tablet-width: "(min-width: 700px)";
$small-screen: "(max-width: 1199px)";
$desktop-width: "(min-width: 1200px)";


//////////////////////////////////////////////////
///////////////////// Colors /////////////////////
//////////////////////////////////////////////////
$text: #232323;
$link: #0052EC;

//////////////////////////////////////////////////
/////////////////// Typography ///////////////////
//////////////////////////////////////////////////
