//////////////////////////////////////////////////
///////////////////// Adaptive ///////////////////
//////////////////////////////////////////////////

////////////////////// breackpoints
$mobile-width: "(max-width: 699px)";
$tablet-width: "(min-width: 700px)";
$small-screen: "(max-width: 1199px)";
$desktop-width: "(min-width: 1200px)";


//////////////////////////////////////////////////
///////////////////// Colors /////////////////////
//////////////////////////////////////////////////
$text: #232323;
$link: #0052EC;

//////////////////////////////////////////////////
/////////////////// Typography ///////////////////
//////////////////////////////////////////////////
$font-primary: "SFCompactText-Regular", Arial, Helvetica, sans-serif;
$font-primary-medium: "SFCompactText-Medium", Arial, Helvetica, sans-serif;
$font-primary-bold: "SFCompactText-Bold", Arial, Helvetica, sans-serif;
$font-primary-semibold: "SFCompactText-Semibold", Arial, Helvetica, sans-serif;
$font-secondary: "Cormorant Garamond", serif;
