*, *::before, *::after {
  box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
}

body {
    min-width: 320px;
    font-family: $font-secondary;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 500;
    color: $text;
    background-color: white;

    @media #{$tablet-width} {
        font-size: 20px;
    }

    @media #{$desktop-width} {
        font-size: 24px;
    }
}

a {
    color: $link;
    transition: color 0.2s;

    &:hover {
        text-style: italic;
    }

    //&:active {
    //    color: black;
    //}
}

.inner {
    margin: auto;
}

h1 {
    font-size: 54px;
    font-weight: 600;
    color: #000;
}

h2 {
    font-size: 36px;
    font-weight: 600;
    color: #000;
    text-align: center;
}

.container {
    @include container;
    position: relative;

    &--xs {
        width: 80%;
        margin: 0 auto;
        padding: 0;

        @media #{$tablet-width} {
            width: 80%;
            padding: 0;
        }

        @media #{$desktop-width} {
            max-width: 1200px;
        }
    }
}


.main .container {
    margin: auto;
}

.clearfix {
    @include clearfix;
}

.title {
    font-family: $font-primary-semibold;
    font-size: 2.155em;
    font-weight: 700;
}

.subtitle {
    margin: 0 0 1em;
    font-family: $font-primary-bold;
    font-size: 1.5em;
}
