.main {
    display: flex;
    height: calc(100vh - 140px);
    min-height: 320px;
    padding: 10px 0;

    &__inner {
        width: 100%;
        margin: auto;

        &--works {
            margin: initial;
        }
    }


    @media #{$tablet-width} {
        height: calc(100vh - 160px);
    }
}
