.works-nav {
    margin-bottom: 50px;

    &__subtitle {
        @include container;
        margin: 0.3em auto 2em;
        font-family: $font-primary-semibold;
        font-size: 1em;
        color: #000;
        text-align: left;
    }

    &__item {
        display: block;
        margin-bottom: 10px;
        padding: 10px 0;
        text-decoration: none;
    }

    &__item-inner {
        @include container;
        padding: 0 10px;
    }

    &__item-title {
        margin: 0 0 10px;
        font-family: $font-secondary;
        font-size: 1.86em;
        line-height: 1;
    }

    &__item-text {
        margin: 0;
        font-family: $font-primary;
        font-size: 1.2em;
        color: $gray;
    }

    &__item:hover {
        color: #fff;
        background-color: $link;
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: center;

        .works-nav__item-text {
            color: #fff;
        }

        .works-nav__item-inner {
            background-color: rgba($link, 0.5);
        }
    }

    &__item--hemp:hover {
        background-image: url(/img/hover-hemp.png);
    }

    &__item--agent:hover {
        background-image: url(/img/hover-agent.png);
    }

    &__item--tikit:hover {
        background-image: url(/img/hover-tikit.png);
    }


    @media #{$tablet-width} {

        &__item-inner {
            width: 70%;
            min-width: 510px;
            max-width: 610px;
            padding: 0 10px;
        }
    }


    @media #{$desktop-width} {

        &__item-inner {
            width: 100%;
            max-width: 700px;
            padding: 0 10px;
        }
    }
}
